table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background: #f1f1f1;
}

table caption{
  color: #ecf0f1;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
}

table caption.titulo{
  color: #000;
  font-weight: 600;
  font-size: 40px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}