@import "otros/header.css";
@import "otros/footer.css";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "hind", sans-serif;
    text-decoration: none;
}

.contenido {
    margin-bottom: 30px;
    min-height: 100vh;
    display: flex;
    background-color: black;
}

.centrado {
    align-items: center;
    justify-content: center;
}

body {
    background-position: center;
    background-size: cover;
}

table.lista {
    border-collapse: collapse;
    width: 100%;
}

table.centrado {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid gray;
}

tr.lista:hover {
    background-color: #f5f5f5;
}